* {
    margin: 0;
    padding: 0;
}



.tamagotchi {
    width: 5rem;

    image-rendering: pixelated;

    image-rendering: -webkit-optimize-contrast;
}

.container {

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    justify-content: center;
    padding-top: 1rem;
}

body {
    background-color: rgba(0, 0, 0, 0.701);

}

.nameInput-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;

    justify-content: center;
    border-radius: 4rem;
    height: 3rem;
}

.nameInput-container * {
    height: 2rem;
}

.nameInput-container button {
    border-radius: 0 1rem 1rem 0;
    margin: 0 0.5rem 0 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
}

.nameInput-container .selectAnimal {
    margin-left: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
}

.nameInput-container input {
    border-radius: 1rem 0 0 1rem;
    margin-left: 0.5rem;
    padding-left: 1rem;
}

.addContainer {
    background: rgba(0, 0, 0, 0.593);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addContainer form {
    justify-self: center;
    margin-left: auto;
    margin-right: auto;

}

.addContainer p {
    position: absolute;
    color: white;
    margin-left: 2rem;
    color: rgba(255, 255, 255, 0.6);
}

.info-title {
    position: absolute;

}

.loadingBar {
    height: 5rem;
    display: flex;
    justify-content: center;

}

.barInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.822);
    font-size: 4rem;

}

.barInfo i {
    font-size: 2rem;

}

.hide {
    overflow: hidden;
    visibility: hidden;
    display: none;
}

.nameContainer {
    position: absolute;
    backdrop-filter: blur(10px);
    background-color: rgba(58, 9, 194, 0.307);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.nameContainer form {
    background-color: rgba(0, 0, 0, 0.649);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.nameContainer label {
    text-align: center;
    color: white;
    font-family: 'Tilt Warp', cursive;
    font-size: 1.2rem;

    padding: 1rem 0 1rem 0;
}

.nameContainer input {
    width: 12rem;
    height: 2.5rem;
    padding-left: 1rem;
    margin: 1rem 0 1rem 0;

}

.nameContainer button {
    width: 100%;
    height: 2.5rem;
    cursor: pointer;
    font-family: 'Tilt Warp', cursive;
}

.loader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5rem;
    height: 7rem;
    padding-top: 1rem;
    background-color: rgba(255, 255, 255, 0.184);

}

.loaders {
    display: flex;
    justify-content: space-around;
    width: 100%;


}

.loadComponent {
    background-color: rebeccapurple;
    width: 0.5rem;

    border-radius: 20%;
}

.infoContainer {
    height: 10rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    border: black solid 1px;
}

.innerContainer h1 {
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.822);
}

.innerContainer {
    background: radial-gradient(rgb(165, 43, 43), rgba(0, 0, 0, 0.639));
    backdrop-filter: blur(10px);
    display: flex;
    margin: 1rem;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    width: 20rem;
    padding: 2rem;
    border-radius: 2rem;
    font-family: 'Tilt Warp', cursive;
    color: rgba(255, 255, 255, 0.822);
    height: 40rem;
}

.btnContainer,
.infoContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.btnContainer {
    border-top: 2px rgba(255, 255, 255, 0.822) solid;
    padding-top: 2rem;
}

.btnContainer i {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    width: 20%;
    font-size: 2rem;
    border-radius: 20%;
    color: rgba(255, 255, 255, 0.822);
    outline: rgba(255, 255, 255, 0.822) solid 2px;
    cursor: pointer;

}

.btnContainer i:hover {
    outline: black solid 2px;
}
